

.sectionflexbox {
    border: 3px solid #ef1010; 
    height: 300px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div {
    text-align: center;
    color: black;
    font-size: 4em;
    flex-basis: 10  0px ;
}

.one {
background-color: yellow;
  align-self: right;
  flex-direction: column;
  flex-basis: 50px;
}

.two {
    background-color: yellow;
    flex-basis: 50px;

}

.three{
      background-color: yellow;
  align-self: left;
  flex-direction: column;
  flex-basis: 50px;
    
